/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

/*css variable */

$navBartitle: #1abc9c;
$navBarhover: #16a085;
$footerHeight: 300px;
$margin-top-space: 20px;


html,body {
  height: 100%;
}

/* font */
a {
  font-family: 'Noto Sans';
}
h1{
  font-family: 'Lobster', cursive;
}
h2, h3, h4, p{
  font-family: 'Noto Sans';
}

hr {
  border:none;
  border:3px solid $navBartitle;
  max-width:60px; 
}

h2 {
  position: relative;
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  color:gray;
}

h3 {

  position: relative;
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  color:black;
}



/*navbar Content*/

.navbar {
  background: transparent;
  border-color: transparent;
  @include transition(all 0.6s ease);

    .navbar-header .navbar-brand {
      font-size:24px;
      color: $navBartitle;

    }

    .navbar-toggle  {
      border: 1px solid $navBartitle;
      border-color: $navBartitle;

      .icon-bar{
        background-color: $navBartitle;
      }
    }

    .nav > li > a {
  	  color: $navBartitle;

  	  &:hover , &:focus {
  	  	color:$navBarhover;
  	  	background:transparent;
  	  }

      &:active{
        background:transparent;
      }
	  }

	  .nav > li.active > a {
       /*when scrolling ,navbar will change color*/
      background:$navBarhover;
      @include transition(all 0.5s);
    }
}

/*srolling change */

.navbar.affix {
  background:$navBartitle;

  .navbar-toggle  {
      border: 1px solid white;
      border-color: white;

      .icon-bar{
        background-color: white;
      }
  }

  .navbar-header .navbar-brand {
    font-size: 30px;
    color: white;

  }

  .nav > li > a {
    color: white;
  }

  .nav > li > a:hover , .nav > li > a:focus {
    background: $navBarhover;
  }

}

/*Background Image and content */

header {
  height: 100%;
  
  .fixed-background{
  
    width: 100%;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    @include background-size(cover)
  }

  .header-content {
    position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
    @include transform(translateY(-50%));
  
    h1{

      font-size: 80px;
      color:white;

      span{
        color:$navBartitle;
      }
    }
  }
}


/*header Button*/
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 80px;
    border: 2px solid #fff;
    border-radius: 50px; /*setting round*/
    font-size: 40px;
    color: #fff;

    &:hover , &:focus{
      outline: 0;
      color: #fff;
      background: rgba(255,255,255,.1);
    }

    i.animated {
      -webkit-transition-property: -webkit-transform;
      -webkit-transition-duration: 2s;
      -moz-transition-property: -moz-transform;
      -moz-transition-duration: 2s;
	}

	&:hover i.animated {
	  -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
	  -moz-animation-duration: 1.5s;
	  -webkit-animation-iteration-count: infinite;
	  -moz-animation-iteration-count: infinite;
	  -webkit-animation-timing-function: linear;
	  -moz-animation-timing-function: linear;
	}
   
}

/*Masonry Content*/
.MasonryContent {
  background: white; /*inorder to hide the footer*/
  position: relative; 

}

#container {
  padding-left: 100px;
  
}

.item {
  
  position: relative;
  float: left;
  overflow: hidden;
  margin: 5px;
  width: 220px;
  text-align: center;

  *{
    @include box-sizing(border-box);
    @include transition(all 0.6s ease);
    
  }

  img {
    width: 100%;
    @include transition(opacity 0.35s);
  }

  &:hover img{
    opacity: 0.3;
    @include filter(blur(4px));
  }

  .figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h4,p {
    
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 0;  /* let the word be not seen*/
  }

  h4 {
    display: inline-block;
    bottom: 50%;
    font-size: 30px;
    color:$navBartitle;
    @include transform(translate3d(0%, -100%, 0));
  }

  p {
    top: 50%;
    font-size: 20px;
    color:gray;
    @include transform(translate3d(0%, 100%, 0)); /*to go down 100%*/
  }

  &:hover h4{
   @include transform(translate3d(0%, -10%, 0));
   opacity: 0.9;
  }

   &:hover p{
   @include transform(translate3d(0%, 10%, 0));
   opacity: 0.6;
  }
  

}

/* Our team content */

.about-us{

  background-color: white;
  margin-bottom:$footerHeight;
  position: relative;
  text-align: center;

  .team-member {

    text-align: center;
    margin-top: $margin-top-space;

    img {
      width:220px;
      height:220px;
      margin: 0 auto;
    }
  }

  h3{
    margin-bottom: $margin-top-space;
  } 

}

/*Footer Content*/
.Contact{
  
  width:100%; 
  height:$footerHeight;
  position: fixed;
  background-position: center;
  bottom: 0;  
  color: #ef4a4a; 
  text-align:center; 
  z-index:-1;

  .contact-content{
    position:relative;
    top:50%;
    @include transform(translateY(-50%));


    p{
      color:white;
      font-size: 30px;
      margin-bottom: $margin-top-space;
      span{
        color:$navBartitle;
      }
    }

    li{
      display: inline;

      #social-website{
        width:50px;
        height:50px;
        border: 1px solid white;
        border-radius: 50px;
        font-size: 25px;
        margin:5px;
        color:white;

        &:hover{
          color:$navBarhover;
          border: 1px solid $navBarhover;
          
        }
      }


    }
  }

}
  