/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

/*css variable */

$greenColor: green;
$whiteColor: white;
$grayColor: gray;
$orangeColor: orange;

$OrangeAffix: #f05f40;

/* font */
a {
  font-family: 'Bitter', serif;
}
h1 ,h2 {
  font-family: 'Lobster', cursive;
}

/*navbar Content*/

.navbar {
  background: transparent;
  border-color: transparent;
  @include transition(all 0.6s ease);

   .navbar-header .navbar-brand {
      font:30px;
      color: $orangeColor;

      &:hover, &focus {
        color:red;
      }
    }

    .nav > li > a {
  	  color: $orangeColor;

  	  &:hover{
  	  	color:red;
  	  	background:transparent;
  	  }
	}

	.nav > li.active > a , .nav > li.active > a:focus {
      color: red!important; /*when scrolling ,navbar will change color*/
      background:transparent;
      @include transition(all 0.5s);
    }
}

/*srolling change */

.navbar.affix {
  background:$whiteColor;

  .navbar-header .navbar-brand {
    font-size: 30px;
    color: $greenColor;

   	&:hover ,&:focus {
   	  color: red;
   	}
  }

  .nav > li > a , .nav > li > a:focus {
    color: $greenColor;
  }

  .nav > li > a:hover , .nav > li > a:focus:hover {
    color: red;
  }

}


/*Background Image and content */
.fixed-background {
  background-image: url(city.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fixed-background img{
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
}

.header-content {
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
  @include transform(translateY(-50%));
  
  h1{

  	font-size: 80px;
  	color:$whiteColor;

  	span{
  	  color:$greenColor;
  	}
  }
}

/*header Button*/
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 80px;
    border: 2px solid #fff;
    border-radius: 50px; /*setting round*/
    font-size: 40px;
    color: #fff;

    &:hover , &:focus{
      outline: 0;
      color: #fff;
      background: rgba(255,255,255,.1);
    }

    i.animated {
      -webkit-transition-property: -webkit-transform;
      -webkit-transition-duration: 2s;
      -moz-transition-property: -moz-transform;
      -moz-transition-duration: 2s;
	}

	&:hover i.animated {
	  -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1.5s;
	  -moz-animation-duration: 1.5s;
	  -webkit-animation-iteration-count: infinite;
	  -moz-animation-iteration-count: infinite;
	  -webkit-animation-timing-function: linear;
	  -moz-animation-timing-function: linear;
	}
   
}

/*Masonry Content*/
.MasonryContent {
  position: relative;
  margin-top: 1000px;
}

.discover-content > h2 {
  position: relative;
  text-align: center;
  font-size: 50px;
  color:$grayColor;
}
.discover-content > hr {
  border:none;
  border:3px solid $greenColor;
  max-width:60px; 
}


#container {
  padding-left: 100px;
  top:50%;
}

.item img {

  width: 220px;
  margin: 5px;
  float: left;
}
