
.modal-header{
  width:;
  height:;
}
.modal-body{
  width:;
  height:470px;
}
#modal-up{
  width:300px;
  height:230px;
  margin:0 auto; 
  position: relative;
}
#modal-down{
  width:300px;
  height:150px;
  margin:0 auto;

}
#modal-imgInp,#modal-labelbtn {
  width:100px;
  height:30px;
  margin:auto;
  border-radius: 5px;  
  
  position: absolute;
  right:0;
  bottom:0;
}
#modal-labelbtn {
  padding-top: 5px;
  text-align: center;
}
#modal-imgInp {
  opacity: 0; 
}





