@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

a{
  font-family: 'cwTeXHei', , sans-serif;
}

/*srolling change */

.navbar {
  background: #1abc9c;
}

.navbar.affix .navbar-toggle {
  border: 1px solid white;
  border-color: white;
}


.navbar.affix .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar .navbar-header .navbar-brand {
  font-size: 30px;
  color: white;
}

.navbar .nav > li > a {
  color: white;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  background: #16a085;
}

.navbar .nav > li.active > a {
  /*when scrolling ,navbar will change color*/
  background: #16a085;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

