@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

a{
  font-family: 'Noto Sans';
}

/*srolling change */
/* line 58, ../sass/homepage.scss */
.navbar {
  background: #1abc9c;
}
/* line 61, ../sass/homepage.scss */
.navbar .navbar-header .navbar-brand {
  font-size: 30px;
  color: white;
}
/* line 67, ../sass/homepage.scss */
.navbar .nav > li > a {
  color: white;
}
/* line 71, ../sass/homepage.scss */
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  background: #16a085;
}

.navbar .nav > li.active > a {
  /*when scrolling ,navbar will change color*/
  background: #16a085;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}


/*My header html
<nav id="mainNav" class="navbar  navbar-fixed-top " >
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Outeaters</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#Discover">Discover</a>
                    </li>
                    <li>
                        <a href="#Log in">Log in / Sign up</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

   */