/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*css variable */
/* line 17, ../sass/homepage.scss */
html, body {
  height: 100%;
}

/* font */
/* line 22, ../sass/homepage.scss */
h1 {
  font-family: 'Lobster', cursive;
}

<<<<<<< HEAD
/* line 28, ../sass/homepage.scss */
h2, h3, h4, p , #modal-labelbtn, .form-control, button{
=======
/* line 25, ../sass/homepage.scss */
a, h2, h3, h4, p {
>>>>>>> origin/master
  font-family: 'cwTeXHei', sans-serif;
}

/* line 29, ../sass/homepage.scss */
hr {
  border: none;
  border: 3px solid #1abc9c;
  max-width: 60px;
}

/* line 35, ../sass/homepage.scss */
h2 {
  position: relative;
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  color: gray;
}

/* line 43, ../sass/homepage.scss */
h3 {
  position: relative;
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  color: black;
}

/*navbar Content*/
/* line 56, ../sass/homepage.scss */
.navbar {
  background: transparent;
  border-color: transparent;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/* line 61, ../sass/homepage.scss */
.navbar .navbar-header .navbar-brand {
  font-size: 24px;
  color: #1abc9c;
}
/* line 67, ../sass/homepage.scss */
.navbar .navbar-toggle {
  border: 1px solid #1abc9c;
  border-color: #1abc9c;
}
/* line 71, ../sass/homepage.scss */
.navbar .navbar-toggle .icon-bar {
  background-color: #1abc9c;
}
/* line 76, ../sass/homepage.scss */
.navbar .nav > li > a {
  color: #1abc9c;
}
/* line 79, ../sass/homepage.scss */
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: #16a085;
  background: transparent;
}
/* line 84, ../sass/homepage.scss */
.navbar .nav > li > a:active {
  background: transparent;
}
/* line 89, ../sass/homepage.scss */
.navbar .nav > li.active > a {
  /*when scrolling ,navbar will change color*/
  background: #16a085;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*srolling change */
/* line 98, ../sass/homepage.scss */
.navbar.affix {
  background: #1abc9c;
}
/* line 101, ../sass/homepage.scss */
.navbar.affix .navbar-toggle {
  border: 1px solid white;
  border-color: white;
}
/* line 105, ../sass/homepage.scss */
.navbar.affix .navbar-toggle .icon-bar {
  background-color: white;
}
/* line 110, ../sass/homepage.scss */
.navbar.affix .navbar-header .navbar-brand {
  font-size: 30px;
  color: white;
}
/* line 116, ../sass/homepage.scss */
.navbar.affix .nav > li > a {
  color: white;
}
/* line 120, ../sass/homepage.scss */
.navbar.affix .nav > li > a:hover, .navbar.affix .nav > li > a:focus {
  background: #16a085;
}

/*Background Image and content */
/* line 128, ../sass/homepage.scss */
header {
  height: 100%;
}
/* line 131, ../sass/homepage.scss */
header .fixed-background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 140, ../sass/homepage.scss */
header .header-content {
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 147, ../sass/homepage.scss */
header .header-content h1 {
  font-size: 80px;
  color: white;
}
/* line 152, ../sass/homepage.scss */
header .header-content h1 span {
  color: #1abc9c;
}

/*header Button*/
/* line 161, ../sass/homepage.scss */
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 80px;
  border: 2px solid #fff;
  border-radius: 50px;
  /*setting round*/
  font-size: 40px;
  color: #fff;
}
/* line 170, ../sass/homepage.scss */
.btn-circle:hover, .btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
/* line 176, ../sass/homepage.scss */
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 2s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 2s;
}
/* line 183, ../sass/homepage.scss */
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

/*Masonry Content*/
/* line 197, ../sass/homepage.scss */
.MasonryContent {
  background: white;
  /*inorder to hide the footer*/
  position: relative;
}

/* line 203, ../sass/homepage.scss */
#container {
  padding-left: 100px;
}

/* line 207, ../sass/homepage.scss */
.btn-group {
  background: yellow;
  margin-bottom: 20px;
}

/* line 212, ../sass/homepage.scss */
.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 5px;
  width: 220px;
  text-align: center;
  background: #ecf0f1;
}
/* line 222, ../sass/homepage.scss */
.item * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/* line 228, ../sass/homepage.scss */
.item img {
  width: 100%;
  -moz-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
/* line 233, ../sass/homepage.scss */
.item:hover img {
  opacity: 0.8;
}
/* line 237, ../sass/homepage.scss */
.item .figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 245, ../sass/homepage.scss */
.item h4, .item p {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
  /* let the word be not seen*/
}
/* line 253, ../sass/homepage.scss */
.item h4 {
  display: inline-block;
  bottom: 50%;
  font-size: 30px;
  font-weight: 800;
  color: white;
  -moz-transform: translate3d(0%, -100%, 0);
  -ms-transform: translate3d(0%, -100%, 0);
  -webkit-transform: translate3d(0%, -100%, 0);
  transform: translate3d(0%, -100%, 0);
}
/* line 262, ../sass/homepage.scss */
.item p {
  top: 50%;
  font-size: 20px;
  font-weight: 600;
  color: white;
  -moz-transform: translate3d(0%, 100%, 0);
  -ms-transform: translate3d(0%, 100%, 0);
  -webkit-transform: translate3d(0%, 100%, 0);
  transform: translate3d(0%, 100%, 0);
  /*to go down 100%*/
}
/* line 270, ../sass/homepage.scss */
.item:hover h4 {
  -moz-transform: translate3d(0%, -10%, 0);
  -ms-transform: translate3d(0%, -10%, 0);
  -webkit-transform: translate3d(0%, -10%, 0);
  transform: translate3d(0%, -10%, 0);
  opacity: 0.9;
}
/* line 275, ../sass/homepage.scss */
.item:hover p {
  -moz-transform: translate3d(0%, 10%, 0);
  -ms-transform: translate3d(0%, 10%, 0);
  -webkit-transform: translate3d(0%, 10%, 0);
  transform: translate3d(0%, 10%, 0);
  opacity: 0.7;
}

/* Our team content */
/* line 285, ../sass/homepage.scss */
.about-us {
  background-color: white;
  margin-bottom: 300px;
  position: relative;
  text-align: center;
}
/* line 292, ../sass/homepage.scss */
.about-us .team-member {
  text-align: center;
  margin-top: 20px;
}
/* line 297, ../sass/homepage.scss */
.about-us .team-member img {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}
/* line 302, ../sass/homepage.scss */
.about-us .team-member h3 {
  margin-bottom: 20px;
  font-family: 'Lobster', cursive;
}
/* line 309, ../sass/homepage.scss */
.about-us span {
  font-family: 'Lobster', cursive;
}

/*Footer Content*/
/* line 316, ../sass/homepage.scss */
.Contact {
  width: 100%;
  height: 300px;
  position: fixed;
  background-position: center;
  bottom: 0;
  color: #ef4a4a;
  text-align: center;
  z-index: -1;
}
/* line 327, ../sass/homepage.scss */
.Contact .contact-content {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 333, ../sass/homepage.scss */
.Contact .contact-content p {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Lobster', cursive;
}
/* line 338, ../sass/homepage.scss */
.Contact .contact-content p span {
  color: #1abc9c;
}
/* line 343, ../sass/homepage.scss */
.Contact .contact-content li {
  display: inline;
}
/* line 346, ../sass/homepage.scss */
.Contact .contact-content li #social-website {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 25px;
  margin: 5px;
  color: white;
}
/* line 355, ../sass/homepage.scss */
.Contact .contact-content li #social-website:hover {
  color: #16a085;
  border: 1px solid #16a085;
}
