
#userPicture{
	float: right;
	top: 8px;
	right: 20px;
	position: relative;
}
#body{
	width: 80%;
	height: 1500px;
	background-color: ;
	margin:0 auto;
	margin-top: 60px;
}

.row{
	text-align: center;
}
.brick{
	margin-top: 25px;
}

.glyphicon-heart{
	color:red;
}

.heartNum{
	font-size: 150%;
	color:white;
}