
#userPicture{
	float: right;
	top: 8px;
	right: 20px;
	position: relative;
}
.profile-body{
	width: 60%;
	height: 1500px;
	background-color: none;
	margin:0 auto;
	margin-top: 90px;
	text-align: center;
}

.row{
	text-align: center;
}


.glyphicon-heart{
	color:red;
}

.heartNum{
	font-size: 150%;
	color:black;
}
.profileMeal{
	text-align: center;
}
.profile-btn{

	margin-bottom: 40px;
}
.btn-primary{
	background-color: white;
	color: #1abc9c;
	border: 1px solid #1abc9c;
}
.btn-primary:active{
	background-color: #16a085;
}